.container-aboutUs {
  max-width: 100%;
  width: 100%;
  margin: auto;
  @media @desktop {
    margin: 0 auto;
  }
  .header-container {
    width: 100%;
    padding: 8% 0 0;
    .flex(center, flex-start, wrap);
    flex-direction: column-reverse;
    background-image: url(../images/savannaSunset.jpg);
    background-size: cover;
    @media @desktop {
      padding: 2% 0;
    }
    .h1-container {
      font-size: @h1;
      text-align: center;
      padding: 0 2%;
      color: @terciary-grey;
      background-color: rgba(0, 0, 0, 0.7);
      @media @desktop {
        padding: 2% 30%;
      }
    }
  }

  .section1 {
    .flex(center, center, wrap);
    max-width: 100%;
    width: 100%;
    .member1 {
      .flex(space-evenly, stretch, wrap);
      flex-direction: row;
      width: 100%;
      height: @member-vh;
      img {
        width: 48%;
      }
      .about1 {
        width: 52%;
        text-align: center;
        padding: 0 2%;
        h4 {
          font-size: @h3;
          color: @main-blue;
        }
        a {
          text-decoration: none;
          color: @main-blue;
          font-size: 1.6rem;
          i {
            padding-left: 3%;
          }
        }
      }
    }
    .member2 {
      .flex(space-evenly, stretch, wrap);
      flex-direction: row;
      width: 100%;
      height: @member-vh;
      img {
        width: 48%;
      }
      .about2 {
        width: 52%;
        text-align: center;
        padding: 0 2%;
        h4 {
          font-size: @h3;
          color: @main-blue;
        }
        a {
          text-decoration: none;
          color: @main-blue;
          font-size: 1.6rem;
          i {
            padding-left: 3%;
          }
        }
      }
    }
    .member3 {
      .flex(space-evenly, stretch, wrap);
      flex-direction: row;
      width: 100%;
      height: @member-vh;
      img {
        width: 48%;
      }
      .about3 {
        width: 52%;
        text-align: center;
        padding: 0 2%;
        h4 {
          font-size: @h3;
          color: @main-blue;
        }
        a {
          text-decoration: none;
          color: @main-blue;
          font-size: 1.6rem;
          i {
            padding-left: 3%;
          }
        }
      }
    }
    .member4 {
      .flex(space-evenly, stretch, wrap);
      flex-direction: row;
      width: 100%;
      height: @member-vh;
      img {
        width: 48%;
      }
      .about4 {
        width: 52%;
        text-align: center;
        padding: 0 2%;
        h4 {
          font-size: @h3;
          color: @main-blue;
        }
        a {
          text-decoration: none;
          color: @main-blue;
          font-size: 1.6rem;
          i {
            padding-left: 3%;
          }
        }
      }
    }
    .member5 {
      .flex(space-evenly, stretch, wrap);
      flex-direction: row;
      width: 100%;
      height: @member-vh;
      img {
        width: 48%;
      }
      .about5 {
        width: 52%;
        text-align: center;
        padding: 0 2%;
        h4 {
          font-size: @h3;
          color: @main-blue;
        }
        a {
          text-decoration: none;
          color: @main-blue;
          font-size: 1.6rem;
          i {
            padding-left: 3%;
          }
        }
      }
    }
  }
}//end of .container-aboutUs