@tablet: ~"(min-width: 750px)";
@desktop: ~"(min-width: 1050px)";

@main-blue: rgb(8, 59, 102);
@darken-main-blue: rgb(1, 31, 65);
@lighten-main-blue: rgb(65, 140, 201);
@secondary-coral: rgb(236,76,76);
@terciary-grey: rgb(224, 224, 224);

@h1: 2.4rem;
@h2: 2.2rem;
@h3: 1.8rem;
@h4: 1.6rem;
@icon: 6rem;